
header > .banner {
    /* background: center/110% url('https://www.zaksadiq.net/media/banner.gif'); */
    border-bottom: 1px solid black;
}
footer > .banner {
    background: #fbfbfb;
    margin-top: 10px;
}

/* General Rules*/
.banner {
    height: 50px;
    width: 100%;
}
.underline {
    text-decoration: solid underline black 1px;
}
.highlight {
    background: aquamarine;
}
.italics {
    font-style: oblique;
}
div > span {
    display: block;
}
ol {
    padding-bottom: 10px;
}
h2 {
    padding-top: 35px;
}
/* ol > li {
    text-align: justify;
} */
li:nth-of-type(n+1) {
    padding-top: 10px;
}

/* Sectional Rules */
body {
    font-family: "Crimson Text", serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 25px;
    text-align: justify;
    max-width: 700px;
}
header {

}
header > #subtitle {
    display: block;
    padding-bottom: 10px;
}
section#main { /* top-level section / main-content body */

}
footer {
    padding-top: 80px
}
footer > span {
    display: block;
}